@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:600);

body {
  text-align: center;
  background-color: rgba(70,130,180,1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #FFB733;
  stroke: #303030;
  stroke-width: 1.5px;
}

.node text {
  font: 14px sans-serif;
  fill: #fff;
  font-weight: 400;
}

.link {
  fill: none; 
  stroke: #303030;
  stroke-width: 1.75px;
}

header {
  height: 14em;
  margin: 0;
  padding: 0;
  background-color: rgba(70,130,180,1);
  color: #fff;
  font-family: 'Expletus Sans', cursive; 
}

h1 {
  margin-top: 0;
  padding-top: 0.75em;
  margin-bottom: 0.5em;
  font-size: 3.5em;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
  font-size: 2.75em;
}

main {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: rgba(70,130,180,1);
}

section {
  border: 8px solid #ffb733;
  border-radius: 100%;
  width: 960px;
  height: 960px;
  margin-left: auto;
  margin-right: auto;
}

text {
  font: 36px sans-serif;
}

svg {
 -webkit-transform:rotate(0deg);
  transform: rotate(0deg)
}
